cmake-build-debug/
.idea/
.idea/*
.idea/workspace.xml
cmake-*
.idea/*
bin/
*libDignea*
*libDignea*
CMakeCache.txt
CMakeFiles
Makefile
Testing
Dignea.cbp
_deps
cmake-build-debug/
cmake_install.cmake
cmake-build-release
.vscode/
build/
include/test_data.hpp
lib/*.a
docs/html/*
docs/xml/*.idea/
libdbscan.so libdbscan.so.1 libdbscan.so.1.0.0
libdbscan.so*
.vscode
include/dignea/generator/MOEIG.h
test/generator/MOEIGTest.cpp
