cmake-build-debug/
.idea/
.idea/*
.idea/workspace.xml
cmake-*
.idea/*
bin/
*libDignea*
*libDignea*
CMakeCache.txt
CMakeFiles
Makefile
Testing
Dignea.cbp
_deps
cmake-build-debug/
cmake_install.cmake
cmake-build-release
.vscode/
build/
include/test_data.hpp
lib/*.a
docs/html/*
docs/xml/*.idea/
